html, body{
    width:100%;
    height:100%;
    margin:0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#Juego{
    width:3600px;
    height: 100vh;

    position:relative;
    overflow:hidden;

    border:5px solid black;
    background-image: url(imagenes/fondo1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing:border-box;

    align-items: center;

    display: flex;

    flex-direction: column;

    touch-action:manipulation;
}

#Puntuacion {
    padding: 10px;
    top: 0px;
    display: flex;
    width: 200px;
    height: 70px;
    background-color: black;
    color: white;
    border: 5px solid white;
    text-align: center;
    z-index: 1002;
}

#Jugador {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 100px;
    top: 200px;
    background-image: url(imagenes/player.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#TuboArriba{

    width:150px;
    height:185px;

    position:absolute;

    left:700px;
    top:0px;

    background-image: url(imagenes/tuboA.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:cover;

}

#TuboAbajo{
    width:150px;
    height:185px;

    position:absolute;

    left:700px;
    bottom:75px;

    background-image: url(imagenes/tuboB.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
}

#TuboArriba2{

    width:150px;
    height:185px;

    position:absolute;

    left:900px;
    top:0px;

    background-image: url(imagenes/tuboA.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:cover;

}

#TuboAbajo2{
    width:150px;
    height:185px;

    position:absolute;

    left:900px;
    bottom:75px;

    background-image: url(imagenes/tuboB.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
}

#TuboArriba3{

    width:150px;
    height:185px;

    position:absolute;

    left:1200px;
    top:0px;

    background-image: url(imagenes/tuboA.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:cover;

}

#TuboAbajo3{
    width:150px;
    height:185px;

    position:absolute;

    left:1200px;
    bottom:75px;

    background-image: url(imagenes/tuboB.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
}

#TuboArriba4{

    width:150px;
    height:185px;

    position:absolute;

    left:1500px;
    top:0px;

    background-image: url(imagenes/tuboA.png);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size:cover;

}

#TuboAbajo4{

    width:150px;
    height:185px;

    position:absolute;

    left:1500px;
    bottom: 75px;

    background-image: url(imagenes/tuboB.png);
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;

}



#Suelo {
    background-color: brown;
    width: 100vw;
    height: 75px;
    bottom: 0;
    position: absolute;
}

#MensajeMuerte{ 
    background-color: rgb(15, 0, 39);
    width: 430px;
    height: 400px;
    color: white;
    z-index: 1000;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    margin-top: 100px;
    border-radius: 30px;
}

#Botones {
    width: 100%;
    height: 25%;
    display: flex;
    bottom: 20px;
    gap: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#Reiniciar {
    bottom: 30px;
    width: 120px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(70, 0, 136);
    border: none;
    box-shadow: 0 5px 0 rgb(39, 1, 75);
    color: rgb(171, 131, 207);
    font-size: 20px;
    transition: 0.1s;
}

#Reiniciar:hover {
    background-color:rgb(107, 42, 163);
}

#Reiniciar:active {
    background-color:rgb(142, 74, 201);
    transform: translateY(5px);
    box-shadow: 0 0 0 0 black;
}

#Menu {
    bottom: 30px;
    width: 120px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(70, 0, 136);
    border: none;
    box-shadow: 0 5px 0 rgb(39, 1, 75);
    color: rgb(171, 131, 207);
    font-size: 20px;
}

#Fondo1 {
    position: absolute;
    height: 720px;
    width: 1600px;
    background-image: url(imagenes/fondo1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    left: 0px;
}

#Fondo2 {
    position: absolute;
    height: 720px;
    width: 1600px;
    background-image: url(imagenes/fondo2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    left: 1600px;
}
